.topics {
  margin-top: 100px;
  h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;

    text-transform: uppercase;
  }

  .topicCards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
